language: go

go:
  - 1.11.x

env:
  - GO111MODULE=on

git:
  depth: 1

install: true

before_script:
  - go install -mod vendor github.com/golangci/golangci-lint/cmd/golangci-lint

script:
  - golangci-lint run
  - go test -race -coverprofile=coverage.txt -covermode=atomic -v

after_success:
  - bash <(curl -s https://codecov.io/bash)
